.BarChart {
    background-color: #FBFBFB;
    width: 96%;
    border-radius: 5px;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    height: 280px;
    margin-right: 5%;
    position: relative;

    // .recharts-wrapper {
    //     width: 100% !important;
    // }

    // .recharts-surface {
    //     width: 100%;
    // }

    .recharts-responsive-container {
        margin: 0 auto;
    }

    .title-barchart {
        font-size: 15px;
        color: #20253A;
        position: relative;
        top: 19px;
        right: -26px;
        font-weight: 500;
    }

    .legend-black {
        position: absolute;
        left: 350px;
        width: 30%;
    }

    .text-icon {
        color: #74798C;
        font-size: 14px;
        margin-left: 5%;
    }

    .legend-red {
        position: absolute;
        left: 450px;
        width: 30%;
    }
}

.container-payload-barchart {
    background-color: #E60000;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;

    .kg,
    .kcal {
        color: #FFFFFF;
        font-size: 10px;
    }
}