.PieChart {
    height: 230px;
    width: 32%;
    background-color: #FBFBFB;
    border-radius: 5px;
    position: relative;


    .title-chart {
        font-size: 15px;
        position: absolute;
        top: 15px;
        left: 20px;
        font-weight: 500;
        color: #20253A;
    }

    .legend-number {
        position: absolute;
        top: 70px;
        left: 90px;
        font-size: 24px;
        font-weight: 700;
        color: #282D30
    }

    .legend-text {
        position: absolute;
        top: 86px;
        left: 85px;
        opacity: 0.5;
        font-size: 15px;
        font-weight: 500;
        color: #282D30;
        text-align: center;
        line-height: 26px;
    }


}

@media screen and (min-width:1200px) {
    .PieChart {
        .legend-number {
            left: 112px;
        }

        .legend-text {
            left: 107px;
        }
    }
}

@media screen and (min-width:1440px) {
    .PieChart {

        .legend-number {
            left: 136px;
        }

        .legend-text {
            left: 131px;
        }
    }
}

@media screen and (min-width:1700px) {
    .PieChart {

        .legend-number {
            left: 159px;
        }

        .legend-text {
            left: 155px;
        }
    }
}

@media screen and (min-width:2000px) {
    .PieChart {

        .legend-number {
            left: 189px;
        }

        .legend-text {
            left: 185px;
        }
    }
}

@media screen and (min-width:2230px) {
    .PieChart {

        .legend-number {
            left: 215px;
        }

        .legend-text {
            left: 212px;
        }
    }
}

@media screen and (min-width:2500px) {
    .PieChart {

        .legend-number {
            left: 243px;
        }

        .legend-text {
            left: 238px;
        }
    }
}