.ErrorProfile {
    h1 {
        margin-left: 15%;
        margin-top: 15%;
        font-size: 30px;
        text-align: center;
    }

    .link {
        display: flex;
        justify-content: center;

    }
}