.Profile {
    position: relative;
    top: 20px;
    left: 170px;

    header {
        .title {
            font-size: 40px;
            font-weight: 500;

            .firstname {
                color: #FF0101;
            }
        }

        p {
            font-size: 18px;
            font-weight: 400;
        }
    }
}