.Profile {
    // position: relative;
    // top: 20px;
    // left: 170px;
    //display: flex;
    //justify-content: space-between;
    margin-left: 12%;

    header {
        .title {
            font-size: 40px;
            font-weight: 500;

            .firstname {
                color: #FF0101;
            }
        }

        p {
            font-size: 18px;
            font-weight: 400;
        }
    }

    .container-barchart-keyData {
        border: blue solid;
        display: flex;
        justify-content: space-between;
        width: 98%;
        position: absolute;
    }

    .container-average-graph {
        border: green solid;
        position: relative;
        top: 350px;
    }
}